{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}    
</head>
    <body>
        <br>
        <h1 class="text-center">NUESTRO VADEMECUM </h1>
        <br>
        <br>
        <br>
        <br>
        <p><b> Productos de Coder-Pharma : </b></p>

    <center>
        <h4 class="text-center"> Buscar producto </h4>
        <form action="{% url '02_BuscarProducto' %}" method="GET"> {% csrf_token %}
        <p><input type="text" name="monodroga">
        <input type="submit" value="BUSCAR">
        </p>

    </form>
        <table style="width: 1250px;">
            <tr>
                <th class="text-center">Monodroga</th>
                <th class="text-center">Marca</th>
                <th class="text-center">Presentacion</th>
                <th class="text-center">Forma Farmaceutica</th>
                <th class="text-center">Certificado ANMAT</th>
                <th class="text-center">Código Producto</th>
                <th class="text-center">Stock</th>
            </tr>
                {% for productos in Vademecum %}
            <tr>
                <td>{{productos.monodroga}}</td>
                <td class="text-center">{{productos.marca}}</td>
                <td>{{productos.presentacion}}</td>
                <td>{{productos.formFarmaceutica}}</td>
                <td class="text-center"><b>{{productos.certificado}}</b></td>
                <td>{{productos.codigoProducto}}</td>
                <td>{{productos.stock}}</td>
            </tr>
                {% endfor %}
        </table>
    </center>
    <br>
    <br>
    <p> Para agregar un nuevo producto, click  <a href="{% url '02_AgregaProducto' %}"> ACA -</a> </p>
    
    </body>
</html>
{% endblock blockname %}