{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
</head>
<body>
    <br>
    <div class="text-center mb-5">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
        <h1 class="fw-bolder">Envíanos tu mensaje</h1>
        <p class="lead fw-normal text-muted mb-0">¡Nos encantaria una reseña de la Drogueria!</p>
    </div>
    <hr>
    <br>
    <br>

    
    <center>
        <div>
            <form action="" method="POST"> 
                {% csrf_token %}
                {% if messages %}

                    
                    {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{message}}
                        </div>
                    {% endfor %}
                        
                    
                {% endif %}
                    
    template = render_to_string('09 - Email_Template.html', {'name': name, 'email': email, 'message': message})
<!-- Name input-->
            <div class="form-floating mb-3">
                <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                <label for="name">Full name</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
            </div>
            <label for="email"> E-mail: <input id= "email" type="email" name="email" placeholder="E-mail"></label>
            <br>
            <label for="asunto"> Asunto: <input id="asunto" type="text" name="asunto" placeholder="Asunto"></label>
            <br>
            <label for="mensaje"> Mensaje: <textarea input type="text" name="mensaje" placeholder="Mensaje"></textarea></label>
            <br>
            <input class="btn btn-success" type="submit" value="Enviar">
            </form>
        </div>
    </center>
        <br>
            <a href="{% url '01_Inicio' %}" class="btn btn-outline-primary" disabled> VOLVER </a>
        <br>
</body>
</html>
<br>
{% endblock blockname %}