<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACERCA-DE...</title>
</head>
    <body>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url '01_Inicio' %}">INICIO - </a>
                <a class="navbar-brand" href="{% url '02_Productos' %}">PRODUCTOS - </a>
                <a class="navbar-brand" href="{% url '03_Contacto' %}">CONTACTO - </a>
                <a class="navbar-brand" href="{% url '04_AcercadeCoderPharma' %}">ACERCA DE CODERPHARMA - </a>
                <a class="btn btn-primary" href="!#">INICIAR</a>
            </div>
        </nav>

        <h1> ACERCA DE NOSOTROS</h1>
        <br>
        <br>
        <br>
        <br>
        <p> Fundada en Agosto del año 2022 por Nicolas Cestari, Lucas Diaz y Pablo Luis Figueroa, Coder-Pharma se crea con la finalidad de ser presentada como una pagina web funcional en base al frameworf DJANGO para el DESAFIO FINAL de la plataforma Coderhouse; </p>
        <p> Donde esta ubicada... </p>
        <br>

        <p>LINK A NUESTROS EMPLEADOS</p>
            <li>
                <a href="{% url '06_Empleados' %}"> EMPLEADOS/PERSONAL</a>
            </li>
        <p>LINK A NUESTROS PROVEEDORES</p>
            <li>
                <a href="{% url '07_Proveedores' %}"> PROVEEDORES</a>
            </li>
        <br>
        <p>LINK A NUESTROS PRINCIPALES CLIENTES</p>
            <li>
                <a href="{% url '08_Clientes' %}"> CLIENTES</a>
            </li>
    </body>
</html>