{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}
    <body>
        <br>
        <h1> ACERCA DE NOSOTROS</h1>
        <br>
        <br>
        <br>
        <br>
        <p> Fundada en Agosto del año 2022 por Nicolas Cestari, Lucas Diaz y Pablo Luis Figueroa, Coder-Pharma se crea con la finalidad de ser presentada como una pagina web funcional en base al frameworf DJANGO para el DESAFIO FINAL de la plataforma Coderhouse; </p>
        <p> Donde esta ubicada... </p>
        <br>

        <p>LINK A NUESTROS EMPLEADOS</p>
            <li>
                <a href="{% url '06_Empleados' %}"> EMPLEADOS/PERSONAL</a>
            </li>
        <p>LINK A NUESTROS PROVEEDORES</p>
            <li>
                <a href="{% url '07_Proveedores' %}"> PROVEEDORES</a>
            </li>
        <br>
        <p>LINK A NUESTROS PRINCIPALES CLIENTES</p>
            <li>
                <a href="{% url '08_Clientes' %}"> CLIENTES</a>
            </li>
    </body>
</html>
{% endblock blockname %}