{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}   
<body>
    <h1 class="text-center">AGREGAR EMPLEADO</h1>
    <br>
    <br>
    <form action="{% url '06_AgregaEmpleado' %}" method="POST"> {% csrf_token %}
       <p> Nombre: <input type="text" name="nombre" placeholder="Nombre completo"></p>
       <p> Apellido: <input type="text" name="apellido" placeholder="Apellido"></p>
       <p> Direccion: <input type="text" name="direccion" placeholder="Dirección"></p>
       <p> Codigo Postal: <input type="text" name="codigoPostal" placeholder="Código Postal"></p>
       <p> Teléfono: <input type="number" name="telefono" placeholder="Teléfono"></p>
       <p> E-Mail: <input type="text" name="eMail" placeholder="E-Mail"></p>
       <p> Puesto: <input type="text" name="puesto" placeholder="Puesto"></p>
       <p> Cargo: <input type="text" name="cargo" placeholder="Cargo"></p>
       <p> Horario Ingreso: <input type="time" name="horarioIngreso" placeholder="Horario de Ingreso"></p>
       <p> Horario Salida: <input type="time" name="horarioSalida" placeholder="Horario de Salida"></p>
       <input type="submit" value="Agregar">
    </form>
    <hr>
        <li>
            <a href="{% url '06_Empleados' %}"> VOLVER - </a>
        </li>
    <br>

</body>
</html>
{% endblock blockname %}