{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}   
<body>
    <h1 class="text-center">AGREGAR EMPLEADO</h1>
    <br>
    <br>
    <form action="{% url '06_AgregaEmpleado' %}" method="POST"> {% csrf_token %}
       <p> Nombre: <input type="text" name="nombre"></p>
       <p> Apellido: <input type="text" name="apellido"></p>
       <p> Direccion: <input type="text" name="direccion"></p>
       <p> Codigo Postal: <input type="text" name="codigoPostal"></p>
       <p> Teléfono: <input type="number" name="telefono"></p>
       <p> E-Mail: <input type="text" name="eMail"></p>
       <p> Puesto: <input type="text" name="puesto"></p>
       <p> Cargo: <input type="text" name="cargo"></p>
       <p> Horario Ingreso: <input type="time" name="horarioIngreso"></p>
       <p> Horario Salida: <input type="time" name="horarioSalida"></p>
       <input type="submit" value="Agregar">
    </form>

        <li>
            <a href="{% url '06_Empleados' %}"> VOLVER - </a>
        </li>


</body>
</html>
{% endblock blockname %}