<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrega Empleado</title>
</head>
<body>
    <h1> <center> AGREGAR EMPLEADO </center></h1>
    <br>
    <br>
    <form action="{% url '06_AgregaEmpleado' %}" method="POST"> {% csrf_token %}
       <p> Nombre: <input type="text" name="nombre"></p>
       <p> Apellido: <input type="text" name="apellido"></p>
       <p> Direccion: <input type="text" name="direccion"></p>
       <p> Codigo Postal: <input type="text" name="codigoPostal"></p>
       <p> Teléfono: <input type="number" name="telefono"></p>
       <p> E-Mail: <input type="text" name="eMail"></p>
       <p> Puesto: <input type="text" name="puesto"></p>
       <p> Cargo: <input type="text" name="cargo"></p>
       <p> Horario Ingreso: <input type="time" name="horarioIngreso"></p>
       <p> Horario Salida: <input type="time" name="horarioSalida"></p>
       <input type="submit" value="Agregar">
    </form>

        <li>
            <a href="{% url '06_Empleados' %}"> VOLVER - </a>
        </li>


</body>
</html>