<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROVEEDORES</title>
</head>
    <body>
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url '01_Inicio' %}">INICIO - </a>
                <a class="navbar-brand" href="{% url '02_Productos' %}">PRODUCTOS - </a>
                <a class="navbar-brand" href="{% url '03_Contacto' %}">CONTACTO - </a>
                <a class="navbar-brand" href="{% url '04_AcercadeCoderPharma' %}">ACERCA DE CODERPHARMA - </a>
                <a class="btn btn-primary" href="!#">INICIAR</a>
            </div>
        </nav>

        <h1> PROVEEDORES </h1>
        <br>
        <br>
        <br>
        <br>
        <p> Detalle de Proveedores </p>
        <p> Funciones de agregar proveedor-editar-eliminar</p>

        <li>
            <a href="{% url '04_AcercadeCoderPharma' %}"> VOLVER - </a>
        </li>

    </body>
</html>