{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}
    <body>
        <br>
        <h1 class="text-center"> PRINCIPALES CLIENTES </h1>
        <br>
        <br>
        <br>
        <br>
        <p> Detalle de Clientes </p>
        <p> Funciones de agregar cliente-editar-eliminar</p>

        <center>
            <table style="width: 1250px;">
                <tr>
                    <th>Nombre y Apellido </th>
                    <th>Razón Social</th>
                    <th>Dirección</th>
                    <th>Código Postal</th>
                    <th>Teléfono</th>
                    <th>E-Mail</th>
                    <th>Forma de Pago</th>
                    <th>Codigo Cliente</th>
                    <th>Codigo Cliente</th>
                </tr>
                    {% for cliente in Clientes %}
                <tr>
                    <td>{{cliente.nombre}} {{cliente.apellido}}</td>
                    <td>{{cliente.razonSocial}}</td>
                    <td>{{cliente.direccion}}</td>
                    <td>{{cliente.codigoPostal}}</td>
                    <td>{{cliente.telefono}}</td>
                    <td>{{cliente.eMail}}</td>
                    <td>{{cliente.form_pago}}</td>
                    <td>{{cliente.codigo_Cliente}}</td>
                    <td>{{cliente.tipo_Cliente}}</td>
                </tr>
                    {% endfor %}
            </table>
        </center>

        <p> Para agregar un nuevo CLIENTE, click  <a href="{% url '08_AgregaCliente' %}"> ACA -</a> </p>

        <li>
            <a href="{% url '04_AcercadeCoderPharma' %}"> VOLVER - </a>
        </li>

    </body>
</html>
{% endblock blockname %}