{% extends '00 - ORIGEN (b).html' %}   
{% load static %}


{% block blockname %}
<body>
    <h1 class="text-center"> AGREGAR CLIENTE </h1>
    <br>
    <br>

    <form action="{% url '08_AgregaCliente' %}" method="POST"> {% csrf_token %}
       <p> Nombre: <input type="text" name="nombre"></p>
       <p> Apellido: <input type="text" name="apellido"></p>
       <p> Razon Social: <input type="text" name="razonSocial"></p>
       <p> Direccion: <input type="text" name="direccion"></p>
       <p> Codigo Postal: <input type="text" name="codigoPostal"></p>
       <p> Teléfono: <input type="number" name="telefono"></p>
       <p> E-mail: <input type="text" name="eMail"></p>
       <p> Forma de Pago: <input type="text" name="form_pago"></p>
       <p> Codigo Cliente : <input type="number" name="codigo_Cliente"></p>
       <p> Tipo Cliente: <input type="text" name="tipo_Cliente"></p>
       <input type="submit" value="Agregar">
    </form>


    <li>
        <a href="{% url '08_Clientes' %}"> VOLVER - </a>
    </li>


</body>
</html>
{% endblock blockname %}